body {
    font-weight: 400;
    color:blueviolet;
    letter-spacing: 1px;
    background: fuchsia;
    background-size:auto;
    
}
.container{
    background:deepskyblue;
    margin:100px 100px;
    box-shadow:20px 5px 5px 10px rgba(0,255, 33,0.4);
    display:grid;
    grid-template-columns:40% 60%;
    
}
.heading{
    color:blue;
    text-transform:uppercase;
    font-size:35px;
}
.container-time{
    background-color:aqua;
    padding:50px;
    outline:3px dashed deeppink;
    outline-offset:-30px;
    text-align:center;
}
.heading-days{
    color:red;
    font-size:30px;
}
.heading-phone{
   font-size:20px;
}
.container-form{
    padding:20px 0;
    margin:0 auto;
    color:indigo;
    
}
form{
    display:grid;
    grid-row-gap:20px;
}
form p{
    font-weight:600;
}
.form-field{
    display:flex;
    justify-content:space-between;
    text-transform:uppercase;
}
input,select{
    padding:10px 15px;
}
.btn{
    background:hotpink;
    color:indigo;
    padding:10px 20px;
    border:none;
    font-size:25px;
    border-radius:10px;
    box-shadow:7px 10px 12px rgba(0,0,0,0.4);
    cursor:pointer;

}
.btn:hover{
    color:aqua;
    background-color:deeppink;
    box-shadow:10px 12px 15px rgba(0,0,0,0.6);
    border:none;
}